* {
    box-sizing: border-box;
    
}


body {
    align-items: center;
    font-family: 'Minecrafter Alt', sans-serif;
    font-family: 'Minecrafter', sans-serif;                 
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 180vh;
    margin: 10px, 25px, 10px, 25px;
    background-image: url(imgs/c.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 50px;
    

   
}

header {
    font-size: 10vmin;
    color: black;
    letter-spacing: 1vmin;
    margin-top: 300px
    
}

h1 {
    color: rgb(51, 49, 49);
    font-size: 5vmin;
}

#board {
    display: grid;
    grid-template-columns: repeat(4,minmax( 200px, 1fr));
    grid-template-rows: repeat(6, 10vmin);
    gap: 1vmin;
    margin: 50px 0px 0px 0px;
    color:black;
    gap: 4rem;
    
}   

#board > div {
    
    background-image: url()
    
    
}

 section {
    justify-content: center;
    text-align: center;
}

button {
margin: 25px 0px 75px 0px;
}

.evaluate {
    color: rgb(14, 167, 167);
}

.correct {
    visibility: hidden;
}

.incorrect {
    color: red;
}

h3 {
    color: black;
    font-size: 5vmin;
}