* {
    box-sizing: border-box;
}
body {
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0px, 0px, 0px, 0px;
   
}

header {
    font-size: 4vmin;
    color: black;
    letter-spacing: 1vmin;
    margin-top: 200px
    
}

h1 {
    color: black;
    font-size: 3vmin;
}

#board {
    display: grid;
    grid-template-columns: repeat(3,minmax( 200px, 1fr));
    grid-template-rows: repeat(8, 10vmin);
    gap: 1vmin;
    margin: 50px 0px 0px 0px;
    color: black;
    gap: 1rem;
    background-image: url();
}

#board > div {
    border-radius: 100%;
    
    
    
}

 section {
    justify-content: center;
    text-align: center;
}

button {
margin: 25px 0px 75px 0px;
}

.answer {
    color: blue;
}

.correct {
    visibility: hidden;
}